.App {
}

.App-logo {
  animation: App-logo-appearance 1.6s ease-in;
  height: 48px;
  background: white;
  padding: 15px 0;
  border-radius: 3px;
}

.App-header {
  background-color: #1B4691;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-appearance {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.App-container {
  padding: 2rem 0.5rem;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .App-container {
    width: 85%;
  }
}
