* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #F5F5F5;
  line-height: 1.25;
}

svg {
  vertical-align: middle;
}

button, input, optgroup, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Modals */
.ReactModal__Body--open {
  overflow: hidden;
}

.modal-overlay {
  transition: opacity 400ms;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
}

.modal-overlay--after-open {
  opacity: 1;
}

.modal-overlay--before-close {
  opacity: 0;
}

.modal-base {
  position: relative;
  transition: all 300ms ease-in-out;
  top: 40px;
  right: -1px;
  outline: none;
  background: white;
  margin: 0 auto;
  transform: translateY(-70%);
  opacity: 0;
}

.modal-base.no-animate {
  transition: none;
}

.modal-base--after-open {
  opacity: 1;
  transform: translateY(0%);
}

.modal-base--after-close {
  opacity: 0;
  transform: translateY(-100%);
}

/* TODO */
/* Use variables for media queries */
@media (max-width: 760px) {
  .modal-base {
    width: 100%;
    height: 100%;
  }

  .modal-base--after-open {
    transform: translateY(-6%);
  }
}

@media (min-width: 760px) and (max-width: 992px) {
  .modal-base {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .modal-base {
    width: 50%;
  }
}
